* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
button {
  background-color: var(--tg-theme-button-color);
  font: inherit;
}
h1 {
  font-weight: 400;
}
input {
  font: inherit;
}
/* ======================================= */
.login-container {
  padding: 0 15px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-form input {
  padding: 7px;
  border-radius: 7px;
  border-color: var(--tg-theme-bg-color);
}
.login-form input:focus-visible {
  outline-color: var(--tg-theme-link-color);
}
.login-form button {
  padding: 10px;
  border-radius: 7px;
}
